-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, method: :get, id: 'ratings_form' do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", true, @ratings.include?(rating), id: "ratings_#{rating}"
  = submit_tag 'Refresh', id: 'ratings_submit'

%table#movies
  %thead
    %tr
      %th{ class: ('hilite' if @sort_by.eql? 'title') }
        = link_to 'Movie Title', movies_path(sort_by: :title), id: 'title_header', class: ('hilite' if @sort_by.eql? 'title')
      %th Rating
      %th{ class: ('hilite' if @sort_by.eql? 'release_date') }
        = link_to 'Relase Date', movies_path(sort_by: :release_date), id: 'release_date_header', class: ('hilite' if @sort_by.eql? 'release_date')
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
